<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <div style="margin: auto; width: 50%">{{ content | safe }}</div>
</body>
</html>