<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <style>
    body {
      font-family: "sans-serif"
    }
  </style>
</head>
<body>
  {{ content | safe }}
</body>
</html>